body{
    text-align: center;
    margin: 30px;
    background:linear-gradient(to right, rgb(255, 10, 10), rgb(26, 67, 142));
}
h1{
    font-size: 5rem;
    text-shadow: 9px 9px silver;
    border: 5px double black ;
    padding: 8px;
    background-color: white;
}
h3{
    color: white;
    font-size: 2rem;
}

p{
    text-decoration: underline;
    font-size: 3rem;
}
input{
    margin: 20px;
}
